body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(calm_water.jpg);
    background-size: cover;
  }

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .function {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  